<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="JSON" />
		<add key="APIBaseUrl" value="https://worldcup-vua.nullbit.hr" />
		<add key="JSONFolderPath" value=".\Assets\" />
		<add key="ImagesFolderPath" value=".\Assets\Images" />
		<add key="SettingsFilePath" value=".\Assets\settings.txt" />
		<add key="FavoritesFilePath" value=".\Assets\favorites.txt" />
	</appSettings>
</configuration>